{% extends 'basictodo/base.html' %}
<br>
{% block content %}
<br><br><br>
<div class="w3-content w3-padding w3-mobile">
  <h1 class="w3-text-teal">Simply Your Todo</h1>
  <p>Life is fun. But life is also busy. There's a million different things you could be doing. But what matters is <u>what</u> you do. We created <b>
    <i class="w3-text-teal">Todo Web App</i></b> to help you make sense of all of your opportunities and live that life that matters most to you.
    Your new organized life awaits.
  </p><br>
  <div class="w3-center w3-mobile">
    <a role="button" class="w3-btn w3-black w3-round w3-hover-text-teal w3-large " href="{% url 'signupuser' %}">Start</a>
  </div>
</div>
<br>
{% include 'basictodo/footer.html' %}
{% endblock %}
