<!DOCTYPE html>
{% extends 'basictodo/base.html' %}

{% block content %}
<br>
<br>
  <div class="w3-container w3-row w3-mobile"><br>
    <div class="w3-container w3-teal w3-col m12 w3-mobile">
      <h2 class="w3-center w3-padding">Sign Up</h2>
    </div><br>
    {% if error %}
    <div class="w3-center w3-red  w3-col m12 w3-mobile">
      <h3>{{error}}</h3>
    </div>
    {% endif %}
    <form method="POST" class="w3-mobile">
                {% csrf_token %}<br>
                <div class="form-group w3-mobile">
                    <br>
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control w3-mobile" id="username" aria-describedby="usernameHelp">
                    <small id="usernameHelp" class="form-text text-muted">Your username must be unique. We'll let you know if someone has taken it already.</small>
                </div>
                <div class="form-group w3-mobile">
                    <label for="password1">Password</label>
                    <input type="password" name="password1" class="form-control w3-mobile" id="password1">
                </div>
                <div class="form-group w3-mobile">
                    <label for="password2">Confirm Password</label>
                    <input type="password" name="password2" class="form-control w3-mobile" id="password2">
                </div>
                <div class="w3-center w3-mobile">
                  <button type="submit" name="Sign Up" class="w3-btn w3-teal w3-round-large w3-mobile">Sign Up</button>
                </div>
    </form>
  </div>
{% include 'basictodo/footer.html' %}
{% endblock %}
